.form {
  display: grid;
}

.label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #d9d9da;
  margin-bottom: 1rem;
}

.button {
  background: rgba(255, 184, 0, 0.85);
  color: #111727;
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 184, 0, 0.85);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background: rgba(255, 184, 0, 1);
}

.card-list {
  display: flex;
  gap: 1rem;
  margin: 2em 0em;
  overflow: scroll;
  scrollbar-width: none;
}

.card-list::-webkit-scrollbar {
  width: 0 !important;
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }
}
